body { background: #43692d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-auth-0 { color: #e85917; font-size: 17px; margin-bottom: 5px; }
.block-notify-1 { color: #a36c9c; font-size: 18px; margin-bottom: 5px; }
.block-invoice-2 { color: #5b5f45; font-size: 15px; margin-bottom: 5px; }
.block-user-3 { color: #825d83; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #b7b247; font-size: 19px; margin-bottom: 5px; }
.block-helper-5 { color: #61ba9c; font-size: 13px; margin-bottom: 5px; }